body {
  margin: 0;
  background-color: #502234;
}
#content {
  background-color: #f1f1f1;
  /* display: flex; */
  /* justify-content: center; */
  display: grid;
  /* grid-template-columns: 22pc 11pc;  */
  grid-template-columns:4fr 4em ;

}
#content div{
  background-color: #f1f1f1;
  padding: 10px;
}
#content div:nth-child(even) {
  background-color: green;
  display: grid;
}
