body {
  margin: 56px;
  background-color: #502234;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2);

}
#content {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  display: grid;
  /* grid-template-columns: 22pc 11pc;  */
  grid-template-columns:4fr 103em ;
  
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2);
    transform: perspective(100px) rotateY(-27deg);
    transition: all 3s ease-in-out 1s;
  
  
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2); */



}
#content div{
  background-color: #f1f1f1;
  padding: 10px;
}
#content div:nth-child(even) {
  background-color: rgb(62, 117, 62);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2);

  display: grid;
}
