body {
  background-color: #502234;
  text-align: center;
  margin:  0 auto;
  
  /* transform: perspective(1000px) rotateY(360deg) rotateZ(360deg)
    rotate3d(0, 0, 0, 360deg) rotate(720deg); */
  /* transition: all 3s ease-in-out 1ms; */
}

#content {
  display: grid;
  /* grid-auto-rows: 30px 30px 323px; */
  /* grid-template-rows:repeat(3, minmax (200px auto)); */
  /* grid-template-rows: repeat(4,minmax( 150px,auto)); */
  grid-template-columns: repeat(6,1fr);
  /* grid-column-gap:1px ;
  grid-row-gap:2px ; */
  grid-gap: 10px;
  max-width: 960px;  
  margin: 0 auto;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  transform: rotate(180deg) scale(-1);
  border-radius:20px;
}

#content {
  transition: all 2s ease-in-out 4ms;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3),
    0 0 30px rgba(0, 0, 0, 0.2);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* grid-template-columns: 22pc 11pc;  */
  /* grid-template-columns: 4fr 3fr 1fr 13fr; */
  grid-template-columns: repeat(3,1fr );
  /* grid-template-rows: 100px 100px; */
  /* grid-auto-rows: minmax(200px) auto; */
  /* grid-auto-flow: 3px; */
  /* transform: perspective(1000px) rotateY(360deg) rotateZ(360deg) */
  /* rotate3d(0, 0, 0, 360deg) rotate(720deg); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2); */
}

#content div {
  background-color: #fff;
  /* border-radius: 4px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3),
    0 0 30px rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 15px;
}

#content div:nth-child(even) {
  background-color: rgb(62, 117, 62);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3),
    0 0 30px rgba(0, 0, 0, 0.2);
}

.one{
  /* grid-column-start: 4; */
  /* grid-column-end: 4; */
  grid-column: 10 / 9;
}
.two{
  grid-column: 10 / 8;
}

.three{
  grid-column: 10 / 7;
}

.four{
  grid-column: 10 / 6;
}
.five{
  grid-column: 10 / 5;
}
.six{
  grid-column: 10 / 4;
}
.seven{
  grid-column: 10 / 3;
}
.eight{
  grid-column: 10 / 2;
}
.nine{
  grid-column: 10 / 1;
}