* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#content {
  text-align: center;
  margin: 0 13pc;
  flex-wrap: wrap;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: pink;
  padding: 20px;
}

main {
  background-color: rgb(158, 158, 2);
  padding: 125px;
  height: 346px;
  width: 50%;
  flex-flow: wrap;
  float: right;
  display: flex;
  justify-content: center;
}

#sidebar  {
  display: flex;
  flex-flow: column;
}

#sidebar nav {
  background-color: green;
  padding: 140px;
  width: 25%;
  display: flex;
  flex-flow: row;
  justify-content: start;
  /* float: left; */
}

aside {
  background-color: palegoldenrod;
  padding: 140px;
  width: 25%;
}
footer {
  display: flex;
  flex-direction: row;
  background-color: magenta;
  padding: 20px;
  /* justify-content: flex-end; */
  margin-top: 0rem;
  justify-content: center;
}
